.App {
  font-family: Arial;
}
.Box {
  margin: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 28px;
}

.btn-thumbs5{
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white; /* Green */
  color: gray;
  border-width: medium;
  padding: 12px 16px;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-thumbs:hover {
  border:none ;
  background-color: white ;
  color: gray;
}

.my-icon {
  text-shadow: -1px 0 
}

.btn-thumbs6{
  border-radius: 50%;
  border: 1px solid gray;
  background-color: white; /* Green */
  color: gray;
  border-width: medium;
  padding: 12px 16px;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-thumbs2:hover {
  border:none ;
  background-color: white;
  color: gray;
}


.btn-thumbs3{
  border-radius: 50%;
  background-color: #4CAF50; /* Green */
  color: white;
  border-width: medium;
  padding: 12px 16px;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-thumbs4{
  border-radius: 50%;
  background-color: red; /* Green */
  color: white;
  border-width: medium;
  padding: 12px 16px;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.fadeMe {
  opacity:    0.8; 
  font-weight: bold;
  background: white; 
  width:      58%;
  height:     100%;
  line-height: 750px; 
  z-index:    10;
  top:        0; 
  margin:auto;
  text-align: center;
  vertical-align: middle;
  position:fixed;
}

.fadeMe2 {
  color: green;
  width:      58%;
  height:     100%;
  line-height: 700px; 
  z-index:    10;
  top:        0; 
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: fixed;
}

h1.boldtext{
  font-family: Arial Black;
  font-weight: 900;
  font-size: 2.0em
}

h1.lesstext{
  font-family: Arial Black;
  font-weight: 900;
  font-size: 1.0em;
}

h1.lessertext{
  line-height: 25px; 
  font-family: Arial;
  font-weight: 200;
  font-size: 0.8em;
  color:gray;
}

.totheleft{
  padding-left:18px;
  padding-bottom:17px;
}

.form-control {
  border-radius: 8px;
  padding-top:17px;
  padding-bottom:17px;
  color:#ABA7A7
  } 

  .form-label{
    font-family: Arial;
    font-size: 10px;
    padding-left:14px;
    font-weight:800;
    color:#575757;
  }

.buttonholder{
width: 32%;
padding: 5px;
margin-left: 65%;
}

.btn-primary{ 
padding: 4px;
border-radius: 10px;
font-weight: 700;
font: Arial;
font-size: 0.85em;}

h1.response{
font-family: Arial;
line-height: 50px;
    font-size: 0.7em;
    padding-left:13px;
    font-weight:800;
    color:#575757;
    
}

